<launch>

  <!-- REPUBLISHES ROBOT UDP STRING TO ENCODER_VALS AND LIDAR_VALS -->
  <node name="raw_robot" pkg="encoder_lidar_pub" type="encoder_lidar_pub.py"/>

  <!-- PUBLISH INT16 ENCODER VALS TO LWHEEL/RWHEEL -->
  <node name="raw_odom" pkg="py_odom_publisher" type="odom_pub.py"/>

  <!-- PUBLISH LASERSCAN MESSAGES TO BASE_SCAN -->
  <node name="base_scan" pkg="py_lidar_publisher" type="lidar_pub.py">
    <param name="num_readings" value="1440"/>
  </node>

  <!-- TRANSFORMS LIDAR TO ROBOT -->
  <node pkg="tf" type="static_transform_publisher" name="base_link2base_scan" args="0.3556 0 0.2 0 0 0 base_link base_scan 100" />

  <!-- DIFFERENTIAL TF - CONVERTS L/RWHEEL TO ODOM AND TF -->
  <node name="diff_pub" pkg="diff_tf" type="diff_tf.py" cwd="node">
    <param name="base_width" value=".41"/>
    <param name="encoder_min" value="-20000"/>
    <param name="encoder_max" value="20000"/>
    <param name="meter" value="2000"/>
    <param name="ticks" value="0.6094"/>
    </node>

  <!-- EYES - PUBLISHES CAMERA 'STREAM' TO IMAGE_RAW/COMPRESSED -->
  <!-- TO VIEW "rosrun image_view image_view _image" -->
  <!--node name="cam" pkg="py_cam_pub" type="cam_pub.py"/>-->

  <!-- SLAM - -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="delta" value="0.01"/>
    <param name="xmin" value="-30"/>
    <param name="xmax" value="30"/>
    <param name="ymin" value="-30"/>
    <param name="ymax" value="30"/>
    <param name="maxUrange" value="2.75"/>
    <param name="maxRange" value="3"/>
    <param name="linearUpdate" value="0"/>
    <param name="angularUpdate" value="10"/>
    <param name="temporalUpdate" value="1"/>
    <remap from="/scan" to="/base_scan" />
  </node>

</launch>
