<launch>

  <node pkg="tf" type="static_transform_publisher" name="base_link2base_scan" args="0.3556 0 0.2 0 0 0 base_link base_scan 100" />

  <node name="base_scan" pkg="py_lidar_publisher" type="lidar_pub.py cwd="node"
    <param name="num_readings" value="1440">
  </node>

  <node name="odom" pkg="py_odom_publisher" type="odom_pub.py" cwd="node"/>

  <!--node name="cam" pkg="py_cam_pub" type="cam_pub.py"/>-->

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="delta" value="0.02"/>
    <param name="maxUrange" value="10"/>
    <param name="maxRange" value="20"/>
    <param name="linearUpdate" value="0"/>
    <param name="angularUpdate" value="0"/>
    <param name="temporalUpdate" value="1"/>
    <remap from="/scan" to="/base_scan" />
  </node>

</launch>
